.intro {
  background-color: var(--color-theme-highlight);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }

    &--light {
      color: var(--color-text--light);
    }
  }

  &__heading {
    max-width: 40ex;

    &--compact {
      max-width: 20ex;
    }
  }

  &__meta {
    color: var(--color-theme-primary);
  }
}
