{% if boardItems.length %}
  <section class="[ board-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <h2 class="[ board-list__heading ] [ text-700 md:text-800 ]">{{ boardHeading }}</h2>
      <ol class="[ board-list__items ] [ pad-top-300 ]">
        {% for item in boardItems %}
          <li class="[ board-list__item ]">
            {#<a href="{{ item.url }}" class="board-list__link" rel="bookmark">#}
              <div class="board-list__link">
                <div class="board-list__item__image">
                    <img src="{{ site.url }}{{ item.data.socialImage }}" alt="{{ item.data.title }}">
                </div>
                <div class="board-list__item__body">
                    <h3 class="font-base leading-tight text-600 weight-mid">
                        {{ item.data.title }}
                    </h3>
                    <p class="text-500 gap-top-300 weight-mid">
                        {{ item.data.role  }}
                    </p>
                </div>
              </div>
            {#</a>#}
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
