{% if navigation.items %}
  <nav class="nav">
    <ul class="[ nav__list ] [ box-flex align-center md:space-before ]">
      {% for item in navigation.items %}
        {% set externalAttribute = '' %}
        {% set currentAttribute = '' %}
        {% set classes = '' %}

        {% if item.external %}
          {% set externalAttribute = ' rel="external"' %}
        {% endif %}

        {% if item.button %}
          {% set classes = ' class="button"' %}
        {% endif %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

        <li class="nav__item">
          <a href="{{ item.url }}"{{ externalAttribute | safe }}{{ currentAttribute | safe }}{{ classes | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
