{% extends 'layouts/base.njk' %}
{% set pageType = 'Contact' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <section class="[ pad-top-700 gap-bottom-900 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <div class="boilerform">
          <form name="contact" netlify method="POST" enctype="application/x-www-form-urlencoded">
            <fieldset class="c-form">
              <div class="c-form__row">
                <label class="c-label">Name</label>
                <input type="text" name="name" autocapitalize="none" autocorrect="off" class="c-input-field" required />
              </div>
              <div class="c-form__row">
                <label class="c-label">Email</label>
                <input type="email" name="email" autocapitalize="none" autocorrect="off" class="c-input-field" required />
              </div>
              <div class="c-form__row">
                <label class="c-label">Message</label>
                <textarea name="message" class="c-input-field c-input-field--multiline" autocapitalize="none" autocorrect="off" required></textarea>
              </div>
              <div class="c-form__row">
                <button type="submit" class="c-button">Send</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
